:root {
    --main-bt-color: #414142;
    --accent-bt-color: #e90f0f;
    --top-header-bg: #f9f9f9;
    --footer-color: #3a4041;
    --form-color: #ffffff;
    --border-color: #d1d3d4;
    --link-color: #079ecc;
    --link-hover-color: #035e7a;
    --map-container-width: 86%;
}